body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    height: 100%;
    width: 75%; /* Ajuste conforme o tamanho da sua sidebar */
    float: right;
}

#sidebar {
    height: 100%;
    width: 25%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-y: auto;
}

#linha-form input, #linha-form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#linha-info {
    margin-top: 15px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#status {
    margin-top: 15px;
    font-style: italic;
    color: #555;
}
